.custom-button {
  display: flex;
  position: relative;
  overflow: hidden;
  align-items: center;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: black !important;
  color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  height: 2.25rem;
  padding: 0 1rem;
  max-width: 13rem;
  white-space: nowrap;
  border-radius: 0.375rem;
  justify-content: center;
  gap: 0.5rem;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.custom-button:hover {
  background-color: rgba(0, 0, 0, 0.9);
  outline-offset: 2px;
}

.custom-button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.custom-button-hover-effect {
  position: absolute;
  top: -3rem;
  right: 0;
  height: 8rem;
  width: 2rem;
  transform: translateX(3rem) rotate(12deg);
  background: white;
  opacity: 0.1;
  transition: all 1s ease-out;
}

.custom-button:hover .custom-button-hover-effect {
  transform: translateX(-10rem) rotate(12deg);
}

.custom-button-content {
  display: flex;
  align-items: center;
}

.custom-icon {
  width: 1rem;
  height: 1rem;
  fill: currentColor;
}

.custom-text {
  margin-left: 0.25rem;
}

.custom-info {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  gap: 0.25rem;
}

.custom-icon-secondary {
  width: 1rem;
  height: 1rem;
  color: gray;
  transition: color 0.3s ease-out;
}

.custom-button:hover .custom-icon-secondary {
  color: #fcd34d; /* Yellow */
}

.custom-count {
  font-family: Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  color: white;
}
